<a href="https://colab.research.google.com/github/lenka88/Caba_nlp/blob/main/colab_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import platform
platform.platform()

'Linux-4.19.112+-x86_64-with-Ubuntu-18.04-bionic'

In [3]:
!cat /etc/issue.net

Ubuntu 18.04.5 LTS

In [4]:
%%writefile test.py
print('Hello Colab')

Writing test.py

In [5]:
!pwd

/content

In [6]:
%run test.py

Hello Colab

In [8]:
# 코드 실행 시간 : 한줄
%timeit li = [n ** n for n in range(10000)]

1 loop, best of 5: 5.07 s per loop

In [9]:
# 코드 실행 시간 : 여러줄
%%timeit
li = []
for n in range(10000):
  li.append(n **n)

1 loop, best of 5: 5.07 s per loop

In [10]:
In[9]

"get_ipython().run_cell_magic('timeit', '', 'li = []\\nfor n in range(10000):\\n  li.append(n **n)')"

In [11]:
%history -n 2-5

   2:
import platform
platform.platform()
   3: !cat /etc/issue.net
   4:
%%writefile test.py
print('Hello Colab')
   5: !pwd

In [12]:
%cd ..

/

In [13]:
%cd content

/content

In [14]:
import pandas as pd
df = pd.read_csv('sample_data/california_housing_test.csv')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [15]:
li = ['one','two','three']
li?

In [16]:
li.count?

In [17]:
pow(3,4)

81

In [18]:
power?

Object `power` not found.

In [19]:
# 탭 자동완성
li = ['one','two','three']
li.append('four')
li.clear()

In [20]:
*Error?

In [21]:
str.*index?